
.a{
  width: 100%;
  background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_large_assets/3d49d178c52c/assets/img/home/hero_photos/gHNcNahbSwCaGQGT3QYdPQ.jpg);
  background-size: cover;
  height: 600px;
}
.Header{
  background-color: azure;
}