
.a{
  width: 100%;
  background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_large_assets/3d49d178c52c/assets/img/home/hero_photos/gHNcNahbSwCaGQGT3QYdPQ.jpg);
  background-size: cover;
  height: 600px;
}
.bg-light, .navbar-white, .nav-link{
  background-color: transparent !important;
  color: #fff !important;
}
.empty-menu-space{
  width: 450px;
}
.btn-login{
  color: #fff;
}
.btn-signup{
  color: #fff;
  border: 2px solid #fff;
}
.hero-wrapper{
  padding-top: 220px;
  background-color: transparent;
  padding-top: 220px;
  margin-bottom: 80px;
}
.hero-logo{
  background-image: url(./images/default.yelp_design_web.yji-b085a608c15f110ce750ccef3e1e1db0.png);
  background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_large_assets/3d49d178c52c/assets/img/home/hero_photos/gHNcNahbSwCaGQGT3QYdPQ.jpg);
}
.btn-search{
  background-color: #d32323 !important;
}
.custom-select{
  height: calc(1.5em + 0.75rem + 15px);
}
.home-page-logo-wrapper{
  margin: auto auto 25px auto;
}
.clear{
  clear: both;
}
.icons-home-wrapper{
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
.icons-home-wrapper > .col-sm-7{
  margin: auto;
  display: flex;
}
.home-icon-link{
  color: #fff;
  width: 25%;;
}
.home-icon{
  padding: 1px;
  margin: 5px;
}
.help-community{
  display: flex;
  padding: 15px;
  background-color: #f0f3f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}